.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0.5em;
}

.card img {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    box-shadow: 0 1rem 1.75rem 0 rgba(45, 55, 75, 0.1);
}